@media screen and (min-width: 660px) {
  /*************** 
  HEADER
  **************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  header {
    border-bottom: 5px solid #4e431e;;
    margin-bottom: 60px;
  }


  }

  @media screen and (max-width: 440px) {
     .box img {
       width: 290px;
      
    }

   .button { 
    margin-top: 120px;
    margin-bottom: 180px;
    margin-right: 100px;
    margin-left: 110px;
  }


    .button:hover {
      background: #fff;
      color: #999;
      transition-property: background;
      transition-duration: 1s;

}


}


}
